body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 15px;
}



/*http://jsfiddle.net/leaverou/BNm8j/*/
input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 90%;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}